.env
.bash_history
.python_history
.cache/
.pytest_cache
__pycache__
.dotnet/
.vscode-server
.local
.gitconfig
.venv
.ssh
htmlcov/
.coverage
.gnupg
requirements.txt

docs/_build
bin/digifeeds/*.config

.config/rclone/*
!.config/rclone/.keep

tmp/*
!tmp/.keep
