UID=YOUR_UID
GID=YOUR_GID
POETRY_VERSION=1.5.1
DEV=true

RCLONE_CONFIG_CHAOS_TYPE=smb
RCLONE_CONFIG_CHAOS_HOST=your_smb_host
RCLONE_CONFIG_CHAOS_USER=your_smb_user
RCLONE_CONFIG_CHAOS_PASS=your_smb_password
RCLONE_CONFIG_CHAOS_DOMAIN=your_smb_domain

RCLONE_CONFIG_DIGIFEEDS_FILESERVER=alias
RCLONE_CONFIG_DIGIFEEDS_FILESERVER_REMOTE=chaos:path/to/main/folder

RCLONE_CONFIG_DIGIFEEDS_S3_TYPE=s3
RCLONE_CONFIG_DIGIFEEDS_S3_PROVIDER=AWS
RCLONE_CONFIG_DIGIFEEDS_S3_ACCESS_KEY_ID=your_s3_access_key_id
RCLONE_CONFIG_DIGIFEEDS_S3_SECRET_ACCESS_KEY=your_s3_secret_access_key

RCLONE_CONFIG_DIGIFEEDS_BUCKET_TYPE=alias
RCLONE_CONFIG_DIGIFEEDS_BUCKET_REMOTE=digifeeds_s3:your_bucket_name

RCLONE_CONFIG_DIGIFEEDS_PICKUP_TYPE=sftp
RCLONE_CONFIG_DIGIFEEDS_PICKUP_HOST=your_sftp_host
RCLONE_CONFIG_DIGIFEEDS_PICKUP_USER=your_sftp_user
RCLONE_CONFIG_DIGIFEEDS_PICKUP_PORT=your_sftp_port
RCLONE_CONFIG_DIGIFEEDS_PICKUP_PASS=your_sftp_password_hash
RCLONE_CONFIG_DIGIFEEDS_PICKUP_SHELL_TYPE=cmd
RCLONE_CONFIG_DIGIFEEDS_MD5SUM_COMMAND=none
RCLONE_CONFIG_DIGIFEEDS_SHA1SUM_COMMAND=none
