UID=YOUR_UID
GID=YOUR_GID
POETRY_VERSION=1.5.1
DEV=true

RCLONE_CONFIG_CHAOS_TYPE=smb
RCLONE_CONFIG_CHAOS_HOST=your_smb_host
RCLONE_CONFIG_CHAOS_USER=your_smb_user
RCLONE_CONFIG_CHAOS_PASS=your_smb_password
RCLONE_CONFIG_CHAOS_DOMAIN=your_smb_domain

RCLONE_CONFIG_DIGIFEEDS_GOOGLE_DELIVERY_REPORTS_TYPE=alias
RCLONE_CONFIG_DIGIFEEDS_GOOGLE_DELIVERY_REPORTS_REMOTE=chaos:your_reports_path