[digifeeds_gdrive]
type = drive
client_id = YOUR_CLIENT_ID
scope = drive
service_account_file = /conf/digifeeds_gdrive_credentials.json
root_folder_id = YOUR_ROOT_FOLDER_ID

[digifeeds_s3]
type = s3
provider = AWS
access_key_id = YOUR_ACCESS_KEY
secret_access_key = YOUR_SECRET_ACCESS_KEY

[digifeeds_bucket]
type = alias
remote = digifeeds_s3:YOUR_BUCKET_NAME

[digifeeds_pickup]
type = sftp
host = YOUR_HOST
user = YOUR_USERNAME
port = YOUR_PORT
pass =  YOUR_ENCRYPTED_HASH
shell_type = cmd