name: Run Tests

on: push

jobs:
  test-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Create .env file
        run: cat env.* > .env
      - name: Load .env file
        uses: xom9ikk/dotenv@v2.3.0
      - name: Install rclone
        run: sudo apt install -y rclone
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'poetry'
      - name: Install poetry packages
        run: poetry install
      - name: setup pytest.ini
        run: mv .github/pytest.ini pytest.ini
      - name: Linting
        run: poetry run ruff check
      - name: Run tests
        env:
          CI: "true"
        run: poetry run pytest 

  test-bash:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Bats and bats libs
        id: setup-bats
        uses: bats-core/bats-action@3.0.1
      - name: Setup Shell Mock
        run: wget -P /opt/ https://github.com/boschresearch/shellmock/releases/download/0.9.1/shellmock.bash 
      - run: ls /opt
      - name: Run tests
        shell: bash
        env:
         BATS_LIB_PATH: ${{ steps.setup-bats.outputs.lib-path }}
         SHELLMOCK_PATH: /opt/shellmock.bash
         TERM: xterm
        run: bats ./bin/**/*_test.sh
